.cashoutBank_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-width: 1280px;
}
.cashoutBank_head > h1 {
  font-family: Arial;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  color: #297fca;
  margin-top: 70px;
}
.cashoutBank_head > h3 {
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: #297fca;
}
.cashoutBank_contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  margin-top: 20px;
  background: #3877ad;
}

.cashoutBank_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  margin-top: 85px;
  margin-bottom: 115px;
}

.cashoutBank_inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cashoutBank_number > input[type="number"],
.cashoutBank_number > input::-webkit-outer-spin-button,
.cashoutBank_number > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cashoutBank_code > input::placeholder,
.cashoutBank_number > input::placeholder,
.cashoutBank_name > input::placeholder,
.cashoutBankName_fields > input::placeholder {
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  height: 19px;
  width: 100%;
  color: #297fca;
}
.cashoutBank_row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 670px;
}
.cashoutBank_row3 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.cashoutBank_code > span {
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin-top: 10px;
  text-decoration: underline;
}
.cashoutBank_code > label,
.cashoutBank_country > label {
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  height: 23px;
  width: 100%;
  color: #ffffff;
  margin-bottom: 15px;
}

.cashoutBank_code,
.cashoutBank_country,
.cashoutBank_number,
.cashoutBank_name {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: flex-start;
  align-items: flex-start;
}
.cashoutBankName_fields > input {
  margin-right: 20px;
}

.cashoutBank_number > label,
.cashoutBank_name > label {
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  height: 23px;
  width: 100%;
  color: #ffffff;
  margin-bottom: 15px;
}
.cashoutBank_buttonLink {
  margin-right: 70px;
  margin-left: 115px;
}

.swalCashoutTitle {
  background: #3fa2f7;
  color: #fff;
  height: 80px;
}

.swalCashoutButton {
  height: 58px;
  width: 107px;
  border-radius: 10px;
  border: 1px solid #297fca;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 20px, 30px, 20px, 30px;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  background: #4e95d2;
  margin-top: 10px;
}
.swalCashoutCancelButton {
  height: 58px;
  width: 107px;
  border-radius: 10px;
  border: 1px solid #297fca;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 20px, 30px, 20px, 30px;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  background: #4e95d2;
  margin-right: 50px;
  margin-top: 10px;
}
.swalCashoutButton:focus,
.swalCashoutButton:hover,
.swalCashoutCancelButton:focus,
.swalCashoutCancelButton:hover {
  outline: none;
  box-shadow: 0 0 5px #3fa2f7;
  background: #3fa2f7;
  border: 2px solid #3fa2f7;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
}
.cashoutBank_button {
  height: 58px;
  width: 107px;
  border-radius: 10px;
  border: 1px solid #297fca;
  padding: 20px, 30px, 20px, 30px;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  background: #4e95d2;
  margin-top: 25px;
  margin-left: -65px;
}
.cashoutBank_button1 {
  height: 58px;
  width: 107px;
  border-radius: 10px;
  border: 1px solid #297fca;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 20px, 30px, 20px, 30px;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  background: #4e95d2;
  margin-top: 25px;
  margin-left: -45px;
}

.cashoutBank_button:focus,
.cashoutBank_button:hover,
.cashoutBank_button1:focus,
.cashoutBank_button1:hover {
  outline: none;
  box-shadow: 0 0 5px #3fa2f7;
  background: #3fa2f7;
  border: 2px solid #3fa2f7;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
}
