body {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 150px;
  height: max-content;
}

.paginate-ctn {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
  margin-top: 70px;
  
}
.round-effect {
  color: #297fca;
  cursor: pointer;
  border: 1px solid #297fca;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 11px;
  border-radius: 10px;
  height: 50px;
  min-width: 50px;
  width: fit-content;
  height: 48px;
  margin: 5px;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.round-effect:hover {
  text-decoration: none;
  background: #297fca;
  color: #fff;
}
.round-effect:hover a {
  text-decoration: none;
  color: #fff;
}

.active {
  background: #297fca;
  color: #fff;
}

.lArrow {
  transform: rotate(-135deg);
  margin-bottom: 2px;
}
.rArrow {
  transform: rotate(45deg);
  margin-bottom: 2px;
}
