.footer_container {
  width: 100%;
  height: 133px;
  background: #e5f1fd;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.gap_logo {
  height: 95px;
  width: 168px;
  margin-left: 60px;
  margin-top: 10px;
}

select {
  border: 2px solid #297fca;
}

select > option {
  height: 18px;
  width: 53px;
  padding-left: 50px;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-decoration-color: #297fca !important;
  text-align: center;
  color: #297fca;
}

.language_col {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.dropdown_container {
  margin-right: 0px;
  margin-top: -25px;
  border-radius: 5px;
}
.language_col > label {
  position: absolute;
  height: 18px;
  width: 76px;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #297fca;
  margin-left: -80px;
  margin-top: -12px;
}

.language_col > a {
  height: 18px;
  width: 90px;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-decoration: underline;
  text-align: center;
  color: #297fca;
  margin-bottom: -25px;
  margin-top: 20px;
  margin-left: 25px;
}

@media (min-width: 481px) and (max-width: 768px) {
  .footer_container {
    display: flex;
    height: 88px;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .gap_logo {
    height: 60px;
    width: 110px;
    border-radius: 0px;
    margin-left: 30px;
    margin-top: 10px;
  }

  select {
    border: 2px solid #297fca;
    height: 33px;
    width: 98px;
    border-radius: 5px;
    padding: 5px, 10px, 5px, 10px;
  }

  select > option {
    height: 16px;
    width: 46px;
    padding-left: 50px;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-decoration-color: #297fca !important;
    text-align: center;
    color: #297fca;
  }

  .language_col {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 20px;
  }
  .dropdown_container {
    margin-right: 10px;
    margin-top: -25px;
    border-radius: 5px;
  }
  .language_col > label {
    position: absolute;
    height: 16px;
    width: 67px;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #297fca;
    margin-left: -70px;
    margin-top: -12px;
  }
  .language_col > a {
    height: 16px;
    width: 79px;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #297fca;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: 30px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .footer_container {
    display: flex;
    height: 88px;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .gap_logo {
    height: 60px;
    width: 110px;
    border-radius: 0px;
    margin-left: 30px;
    margin-top: 10px;
  }

  select {
    border: 2px solid #297fca;
    height: 33px;
    width: 98px;
    border-radius: 5px;
    padding: 5px, 10px, 5px, 10px;
  }

  select > option {
    height: 16px;
    width: 46px;
    padding-left: 50px;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-decoration-color: #297fca !important;
    text-align: center;
    color: #297fca;
  }

  .language_col {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 20px;
  }
  .dropdown_container {
    margin-right: 10px;
    margin-top: -25px;
    border-radius: 5px;
  }
  .language_col > label {
    position: absolute;
    height: 16px;
    width: 67px;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #297fca;
    margin-left: -70px;
    margin-top: -12px;
  }
  .language_col > a {
    height: 16px;
    width: 79px;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #297fca;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: 30px;
  }
}
