.exchange_steps {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background: #3fa2f7;
  height: 196px;
  width: 100%;
  padding-left: 250px;
  padding-right: 250px;
}
.steps_col > span {
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  height: 23px;
  width: fit-content;
  margin-bottom: 30px;
}
.steps_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
