.redeemSuccess_container {
  display: flex;
  flex-direction: column;
}
.redeemSuccess_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 470px;
  margin-top: 35px;
  margin-bottom: 35px;
  align-items: center;
}
.redeemSuccess_col2 > h1 {
  font-family: Arial;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  color: #297fca;
  height: 120px;
  width: 750px;
  margin-bottom: 40px;
}
.redeemSuccess_col2 > p {
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  height: 116px;
  width: 368px;
  color: #297fca;
}
.redeemAccount_link {
  margin-left: 5px;
}
.redeemButton_container {
  margin-top: -100px;
  margin-left: 530px;
}
.redeemSuccess_button {
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: -10px;
  color: #fff;
  height: 54px;
  width: 197px;
  border: 2px solid #3fa2f7;
  border-radius: 11px;
  background: #297fca;
}
.redeemSuccess_button:hover {
  color: #3fa2f7;
  outline: none;
  border: 1px solid #fff;
}
