.App {
  text-align: center;
  width: 100%;
  height: auto;
}
input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
  padding-right: 10px;
  margin-right: 1px;
  height: 25px;
  width: 10px;
}
