.rewards_name {
  height: 14px;
  width: 120px;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  padding-left: 5px;
  text-align: center;
  margin-bottom: 5px;
}
.rewards_date {
  height: 14px;
  width: 100px;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  margin-bottom: 5px;
}
.rewards_status {
  height: 14px;
  width: 100px;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  margin-bottom: 5px;
}
.premium_info {
  flex-direction: row;
  display: flex;
  height: auto;
  margin-bottom: 17px;
  color: #297fca;
}
