.cashoutPaypal_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-width: 1280px;
}
.cashoutPaypal_head > h1 {
  font-family: Arial;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  color: #297fca;
  margin-top: 70px;
}
.cashoutPaypal_head > h3 {
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: #297fca;
}
.cashoutPaypal_contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 545px;
  width: 100%;
  margin-top: 20px;
  background: #3877ad;
}

.cashoutPaypal_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -150px;
}

.cashoutPaypal_inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cashoutPaypal_inputs > input::placeholder {
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  height: 19px;
  width: 100%;
  color: #297fca;
}

.cashoutPaypal_inputs > label {
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  height: 23px;
  width: 100%;
  color: #ffffff;
  margin-bottom: 15px;
}
.cashoutPaypal_buttonLink {
  margin-right: 80px;
}

.cashoutPaypal_button {
  height: 58px;
  width: 107px;
  border-radius: 10px;
  padding: 20px, 30px, 20px, 30px;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  background: #4e95d2;
  margin-top: 60px;
  margin-left: 173px;
}

.cashoutPaypal_button1 {
  height: 58px;
  width: 107px;
  border-radius: 10px;
  border: 1px solid #297fca;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 20px, 30px, 20px, 30px;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  background: #4e95d2;
  margin-top: 25px;
  margin-left: -45px;
}

.cashoutPaypal_button:focus,
.cashoutPaypal_button:hover,
.cashoutPaypal_button1:focus,
.cashoutPaypal_button1:hover {
  outline: none;
  box-shadow: 0 0 5px #3fa2f7;
  background: #3fa2f7;
  border: 2px solid #3fa2f7;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
}

.swalCashoutTitle {
  background: #3fa2f7;
  color: #fff;
  height: 80px;
}

.swalCashoutButton {
  height: 58px;
  width: 107px;
  border-radius: 10px;
  border: 1px solid #297fca;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 20px, 30px, 20px, 30px;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  background: #4e95d2;
  margin-top: 10px;
}
.swalCashoutCancelButton {
  height: 58px;
  width: 107px;
  border-radius: 10px;
  border: 1px solid #297fca;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 20px, 30px, 20px, 30px;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  background: #4e95d2;
  margin-right: 50px;
  margin-top: 10px;
}
.swalCustomPopup {
  background-image: url("../assets/sweepstakeBG_modal.png"); /* Replace with the correct path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
