.cashout_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-width: 1280px;
}
.cashout_contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 600px;
  width: 800px;
  margin-top: 50px;
}

.cashout_details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -60px;
}

.cashoutImage_container {
  display: flex;
  height: 360px;
  padding-left: 60px;
  padding-right: 60px;
  background: #e4f1fd;
  align-content: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 80px;
  margin-top: 50px;
}
.cashoutImage_container > img {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.cashout_col2 {
  text-align: left;
}
.cashout_col2 > h1 {
  height: 60px;
  width: 671px;
  font-family: Arial;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  color: #297fca;
  margin-bottom: 20px;
}
a {
  margin-left: 5px;
}
.cashout_col2 > span {
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #297fca;
}
.cashout_inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
label {
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}
.cashoutText_verify {
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
  color: #297fca;
}
.cashOutButton {
  position: absolute;
  margin-top: 30px;

  width: fit-content;
  margin-left: 500px;
  height: 58px;
  width: 144px;
  border-radius: 10px;
  padding: 20px, 30px, 20px, 30px;
  background: #297fca;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  color: #ffffff;
  border: 2px solid #297fca;
}

.cashOutButton:focus,
.cashOutButton:hover {
  outline: none;
  box-shadow: 0 0 5px #3fa2f7;
  color: #3fa2f7;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
}

.swalCustomPopup {
  background-image: url('../assets/sweepstakeBG_modal.png'); /* Replace with the correct path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

