body {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.dailyWinner-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: max-content;
  background: none;
}

.dailyWinner_column {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: auto;
  justify-content: flex-start;
  height: 400px;
  background: #fff;
}

@media (min-width: 320px) and (max-width: 480px) {
  .dailyWinner-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: max-content;
    background: none;
    width: 100%;
    min-width: 280px;
    max-width: 440px;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
  }

  .dailyWinner_column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
    padding-top: 20px;
    width:min-content;
    min-width: 280px;
    max-width: 440px;
    height: 540px;
    background: transparent;
    border-radius: 20px;
  }
}
