.dailyDraw_mainContainer {
  background: #fff;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: fit-content;
  overflow-x: hidden;
}

.dailyDraw_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: auto;
  height: auto;
}
.dailyDraw_head {
  background: #fff;
  width: 100%;
  padding-top: 100px;
  min-width: 1230px;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dailyDraw_head > h1 {
  height: 60px;
  width: 590px;
  font-family: Arial;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  color: #207fca;
  margin-bottom: 15px;
}
.dailyDraw_head > h3 {
  height: 23px;
  width: 100%;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  color: #207fca;
  margin-bottom: 60px;
}
.drawEntry_container {
  display: flex;
  flex-direction: column;
  height: 568px;
  width: 1221px;
  border-radius: 40px;
  background: #3fa2f7;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 120px;
}
.drawEntry_header {
  height: 125px;
  width: 100%;
  border-radius: 0px;
  background: #6b6b6b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.drawEntry_header > h2 {
  height: 40px;
  width: 218px;
  font-family: Arial;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-left: 50px;
  margin-top: auto;
  margin-bottom: auto;
}
.dailyDraw_rewards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  height: 59px;
  width: 100%;
  border-radius: 24px;
  background: #434343;
  margin-right: 35px;
}
.dailyDraw_rewards > span {
  height: 34px;
  width: 100%px;
  font-family: Arial;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
.dailyEntry_contents {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: auto;
}
.dailyEntry_image {
  display: flex;
  justify-content: center;
  height: 376px;
  width: 376px;
  border-radius: 50%;
  background-color: #fff;
  align-items: center;
  margin-right: 160px;
}
.dailyEntryInput_quantity > label {
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  height: 23px;
  width: fit-content;
  color: #ffffff;
  margin-top: 30px;
}
.dailyEntryInput_tickets > label {
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  height: 23px;
  width: fit-content;
  color: #ffffff;
  margin-top: 30px;
}

.dailyEntryInput_quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: fit-content;
  margin: auto;
  margin-left: -32px;
}
.dailyEntryInput_tickets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: fit-content;
  margin-left: -120px;
  margin-top: -10px;
  margin-bottom: 20px;
}

.dailyEntry_button {
  height: 64px;
  width: 207px;
  border-radius: 11px;
  background: #297fca;
  border: #fff;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  margin-left: 40px;
  margin-bottom: 30px;
}
.dailyFree_button {
  height: 64px;
  width: 207px;
  border-radius: 11px;
  background: #297fca;
  border: #fff;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  margin-left: 35px;
}
.dailyEntry_button:hover,
.dailyFree_button:hover {
  outline: none;
  box-shadow: 0 2px 2px 0 rgb(230, 226, 241);
  color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
}
.dailyDraw_span > span {
  height: 23px;
  width: 383px;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-left: -30px;
}
.drawAccount_link {
  margin-left: 5px;
  height: 23px;
  width: 383px;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.closeButton {
  background-color: #51abfa;
  border-radius: 50%;
  color: #fff;
  height: 35px;
  width: 35px;
  padding-bottom: 3px;
  margin-right: 10px;
  margin-top: 10px;
}
.closeButton:hover {
  background-color: #3fa2f7;
  border-radius: 50%;
  color: #e4f1fd;
  margin-right: 10px;
  margin-top: 10px;
}

/* SweetAlert2 Custom Styles */
.swalBackground {
  background: url(${assets.sweepstakesBgModal}) no-repeat center center !important;
  background-size: cover !important;
  z-index: 1000 !important;
}
.swalPopup {
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-content: center;
  width: 100%;
  height: 100%;
}

.swalTitle1 {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-family: Arial;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  background-color: #e4f1fd;
  padding-bottom: 15px;
  color: #297fca;
  margin-top: -27px;
}

.swalTitle1 > img {
  height: 32px;
  width: 180px;
  display: flex;
  color: #297fca;
  margin-top: -5px;
}

.swalContainer {
  height: 100%;
  width: 100%;
}

.swalCloseButton,
.swalCloseButton:hover {
  margin-top: -18px;
  margin-right: 20px;
}

@media (min-width: 481px) and (max-width: 1230px) {
  .dailyDraw_mainContainer {
    background: #fff;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: fit-content;
    width: 100%;
    min-width: 481px;
    max-width: 1230px;
  }
  .dailyDraw_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    min-width: 481px;
    max-width: 1230px;
    height: auto;
    padding: 15px;
  }
  .dailyDraw_head {
    background: #fff;
    padding-top: 100px;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 481px;
    max-width: 1230px;
  }

  .dailyDraw_head > h1 {
    height: 60px;
    font-family: Arial;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    color: #207fca;
    margin-bottom: 20px;
    margin-top: -50px;
    width: 100%;
    min-width: 481px;
    max-width: 1230px;
  }
  .dailyDraw_head > h3 {
    height: 23px;
    width: 100%;
    min-width: 481px;
    max-width: 768px;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    color: #207fca;
    margin-bottom: 80px;
  }
  .drawEntry_container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    min-width: 460px;
    max-width: 700px;
    border-radius: 40px;
    background: #3fa2f7;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 120px;
  }
  .drawEntry_header {
    height: 80px !important;
    display: flex;
    flex-direction: column !important;
    width: 100%;
    border-radius: 0px;
    background: #6b6b6b;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
  .drawEntry_header > h2 {
    height: 40px;
    width: 100%;
    font-family: Arial;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center !important;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-left: 10px !important;
    margin-top: 23px !important;
  }
  .dailyDraw_rewards {
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
    align-content: center;
    align-items: center;
    width: 90%;
    min-width: 420px;
    max-width: 480px;
    border-radius: 24px;
    background: #434343;
    margin-right: 0px !important;
    margin-top: 45px;
    margin-bottom: -75px;
  }
  .dailyDraw_rewards > span {
    height: 30px;
    width: fit-content;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: auto;
  }
  .dailyEntry_contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  .dailyEntry_image {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #fff;
    align-items: center;
    margin-right: 0px;
    margin-top: 100px;
  }
  .dailyEntry_image > img {
    width: 150px;
  }
  .dailyEntryInput_quantity > label {
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    width: fit-content;
    color: #ffffff;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
  }
  .dailyEntryInput_tickets > label {
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    width: fit-content;
    color: #ffffff;
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 10px;
  }

  .dailyEntryInput_quantity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
  }
  .dailyEntryInput_tickets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .drawButton_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .dailyEntry_button {
    height: 54px;
    width: 207px;
    border-radius: 11px;
    background: #297fca;
    border: #fff;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: 30px;
  }
  .dailyFree_button {
    height: 54px;
    width: 207px;
    border-radius: 11px;
    background: #297fca;
    border: #fff;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    margin-left: 0px;
    margin-top: -10px;
    margin-bottom: 50px;
  }
  .dailyEntry_button:hover,
  .dailyFree_button:hover {
    outline: none;
    box-shadow: 0 2px 2px 0 rgb(230, 226, 241);
    color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
  }
  .dailyDraw_col2 {
    margin-bottom: 50px;
  }
  .dailyDraw_span > span {
    height: 23px;
    width: 100%;
    min-width: 460px;
    max-width: 700px;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    margin-left: 0px;
  }
  .drawAccount_link {
    margin-left: 5px;
    width: 100%;
    font-family: Arial;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 18px !important;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .dailyDraw_mainContainer {
    background: #fff;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: fit-content;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
  }
  .dailyDraw_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    height: auto;
    padding: 15px;
  }
  .dailyDraw_head {
    background: #fff;
    padding-top: 100px;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
  }

  .dailyDraw_head > h1 {
    height: 60px;
    font-family: Arial;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    color: #207fca;
    margin-bottom: 20px;
    margin-top: -50px;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
  }
  .dailyDraw_head > h3 {
    height: 23px;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    color: #207fca;
    margin-bottom: 80px;
  }
  .drawEntry_container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    min-width: 300px;
    max-width: 450px;
    border-radius: 40px;
    background: #3fa2f7;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 120px;
  }
  .drawEntry_header {
    height: 80px !important;
    display: flex;
    flex-direction: column !important;
    width: 100%;
    border-radius: 0px;
    background: #6b6b6b;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
  .drawEntry_header > h2 {
    height: 40px;
    width: 100%;
    font-family: Arial;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center !important;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-left: 10px !important;
    margin-top: 23px !important;
    margin-bottom: auto;
  }
  .dailyDraw_rewards {
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
    align-content: center;
    align-items: center;
    width: 90%;
    height: 45px;
    border-radius: 24px;
    background: #434343;
    margin-right: 0px !important;
    margin-top: 40px;
    margin-bottom: -75px;
  }
  .dailyDraw_rewards > span {
    height: 30px;
    width: fit-content;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: auto;
  }
  .dailyEntry_contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  .dailyEntry_image {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #fff;
    align-items: center;
    margin-right: 0px;
    margin-top: 100px;
  }
  .dailyEntry_image > img {
    width: 150px;
  }
  .dailyEntryInput_quantity > label {
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    width: fit-content;
    color: #ffffff;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
  }
  .dailyEntryInput_tickets > label {
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    width: fit-content;
    color: #ffffff;
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 10px;
  }

  .dailyEntryInput_quantity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
  }
  .dailyEntryInput_tickets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
    margin-top: -10px;
    margin-bottom: 20px;
  }
  .drawButton_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .dailyEntry_button {
    height: 54px;
    width: 207px;
    border-radius: 11px;
    background: #297fca;
    border: #fff;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: 30px;
  }
  .dailyFree_button {
    height: 54px;
    width: 207px;
    border-radius: 11px;
    background: #297fca;
    border: #fff;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    margin-left: 0px;
    margin-top: -10px;
    margin-bottom: 50px;
  }
  .dailyEntry_button:hover,
  .dailyFree_button:hover {
    outline: none;
    box-shadow: 0 2px 2px 0 rgb(230, 226, 241);
    color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
  }
  .dailyDraw_col2 {
    margin-bottom: 50px;
  }
  .dailyDraw_span > span {
    height: 23px;
    width: 100%;
    min-width: 300px;
    max-width: 420px;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    margin-left: 0px;
  }
  .drawAccount_link {
    margin-left: 5px;
    height: 50px;
    width: 100%;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: #fff;
  }
}
