.dailyDraw_date {
  height: 42px;
  width: 100%;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  padding-left: 5px;
  text-align: center;
  margin-bottom: 5px;
}
.dailyDraw_number {
  height: 42px;
  width: 100%;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  margin-bottom: 5px;
  margin-left: 50px;
}
.dailyDraw_username {
  height: 42px;
  width: 100%;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  margin-bottom: 5px;
}
.dailyDrawWinner_info {
  flex-direction: row;
  display: flex;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  height: auto;
  margin-bottom: 17px;
  color: #297fca;
  gap: 20px;
}

.dailyDrawWinner_info p {
  flex: 1;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  .dailyDrawWinner_info {
    flex-direction: row;
    display: flex;
    width: 90%;
    min-width: 280px !important;
    max-width: 440px !important;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background: transparent;
    color: #297fca;
    gap: 5px;
    margin-left: 20px;
  }

  .dailyDrawWinner_info p {
    flex: 1;
    font-size: 12px;
    text-align: center;
    height: fit-content;
  }
  .dailyDraw_date {
    margin-left: -20px;
  }
  .dailyDraw_number {
    margin-left: -5px;
  }
}
