.dailyDraw_date {
  height: 42px;
  width: 100%;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  padding-left: 5px;
  text-align: center;
  margin-bottom: 5px;
  margin-left: -150px;
}
.dailyDraw_number {
  height: 42px;
  width: 250px;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  margin-bottom: 5px;
  margin-left: 50px;
}
.dailyDraw_username {
  height: 42px;
  width: 250px;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  margin-bottom: 5px;
  margin-left: 250px;
}
.dailyDrawWinner_info {
  flex-direction: row;
  display: flex;
  width: 100%;
  align-items: left;
  align-content: left;
  justify-content: center;
  height: auto;
  margin-bottom: 17px;
  color: #297fca;
}
