.forgotPassword_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.forgotPassword_header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #3fa2f7;
}
.forgotPassword_header > h1 {
  color: #fff;
  margin-left: 20px;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 1);
}
.forgotPassword_header > img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.6);
}
.forgotPassword_contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: auto;
  width: fit-content;
  margin-top: 20px;
  margin-bottom: 188px;
}
.forgotPassword_contents > h1 {
  height: 40px;
  width: 300px;
  font-family: Arial;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  color: #297fca;
  margin-top: 50px;
  margin-bottom: 50px;
}
.forgotPassword_contents > p {
  height: 36px;
  width: 639px;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #297fca;
  margin-top: -25px;
}
.forgotPasswordEmail_input {
  height: 48px;
  width: 524px;
  border: 3px solid #297fca;
  margin-top: 25px;
  margin-bottom: 50px;
  color: #297fca;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}
.forgotPassword_contents > input::placeholder {
  color: #297fca;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.sendEmail_button {
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  height: 54px;
  width: 197px;
  border: 2px solid #3fa2f7;
  border-radius: 11px;
  background: #297fca;
}
.sendEmail_button:disabled {
  opacity: 60%;
}
.sendEmail_button[disabled]:hover,
.sendEmail_button[disabled]:focus,
.sendEmail_button[disabled]:active {
  opacity: 60%;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  height: 54px;
  width: 197px;
  border: 2px solid #3fa2f7;
  border-radius: 11px;
  background: #297fca;
}

.sendEmail_button:hover {
  color: #3fa2f7;
  outline: none;
  border: 1px solid #fff;
}

@media (min-width: 481px) and (max-width: 768px) {
  .forgotPassword_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    min-width: 481px;
    max-width: 768px;
    height: auto;
  }
  .forgotPassword_header {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 481px;
    max-width: 768px;
    height: 150px;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #3fa2f7;
    margin-top: -20px;
  }
  .forgotPassword_header > h1 {
    color: #fff;
    margin-left: 0;
    margin-top: 10px;
    font-size: 20px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 1);
  }
  .forgotPassword_header > img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.6);
  }
  .forgotPassword_contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: auto;
    width: 100%;
    min-width: 481px;
    max-width: 768px;
    margin-top: 20px;
    margin-bottom: 188px;
  }
  .forgotPassword_contents > h1 {
    height: 40px;
    width: 460px;
    font-family: Arial;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #297fca;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .forgotPassword_contents > p {
    height: auto;
    width: 400px;
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: #297fca;
    margin-top: -25px;
    padding: 15px;
  }
  .forgotPasswordEmail_input {
    height: 38px;
    width: 400px;
    border: 3px solid #297fca;
    margin-top: 25px;
    margin-bottom: 50px;
    color: #297fca;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
  }
  .forgotPassword_contents > input::placeholder {
    color: #297fca;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    padding-left: 165px;
    text-align: center;
  }
  .sendEmail_button {
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    height: 44px;
    width: 107px;
    border: 2px solid #3fa2f7;
    border-radius: 11px;
    background: #297fca;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .forgotPassword_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    height: auto;
  }
  .forgotPassword_header {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    height: 150px;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #3fa2f7;
    margin-top: -20px;
  }
  .forgotPassword_header > h1 {
    color: #fff;
    margin-left: 0;
    margin-top: 10px;
    font-size: 20px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 1);
  }
  .forgotPassword_header > img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.6);
  }
  .forgotPassword_contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: auto;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    margin-top: 20px;
    margin-bottom: 188px;
  }
  .forgotPassword_contents > h1 {
    height: 40px;
    width: 300px;
    font-family: Arial;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #297fca;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .forgotPassword_contents > p {
    height: 36px;
    width: 300px;
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: #297fca;
    margin-top: -25px;
    margin-bottom: 40px;
  }
  .forgotPasswordEmail_input {
    height: 38px;
    width: 300px;
    border: 3px solid #297fca;
    margin-top: 25px;
    margin-bottom: 50px;
    color: #297fca;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
  }
  .forgotPassword_contents > input::placeholder {
    color: #297fca;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    padding-left: 110px;
    text-align: center;
  }
  .sendEmail_button {
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    height: 44px;
    width: 107px;
    border: 2px solid #3fa2f7;
    border-radius: 11px;
    background: #297fca;
  }
}
