.exchange_steps {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background: #3fa2f7;
  height: 196px;
  width: 100%;
}
.steps_col > span {
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  height: 23px;
  width: fit-content;
  margin-bottom: 30px;
}
.steps_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  .exchange_steps {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 100% !important;
    min-width: 320px !important;
    max-width: 480px !important;
    padding: 0 !important;
   }
  .steps_col > span {
    font-family: Arial;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 16px !important;
    letter-spacing: 0em;
    text-align: center;
    height: 23px;
    margin-bottom: 20px !important;
  }
  .steps_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:0;
  }
}
