.loginHeader_container {
  width: 100%;
  min-width: 100%;
  height: auto;
}
.login_header {
  background: #e4f1fd;
  height: 92px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.pachi_logo {
  height: 52px;
  width: fit-content;
  margin-top: -37px;
  margin-left: -317px !important;
}
.loginNav {
  margin-left: 120px;
  margin-top: -8px;
  width: 100px;
}
.landingPage_link {
  margin-right: 50px;
  width: 0;
  height: 0;
  margin-left: 350px;
}
.home_buttons {
  height: 23px;
  width: 56px;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  align-items: center;
  align-content: center;
  color: #297fca;
  border: none;
  margin-left: -110px;
  margin-top: -15px;
}
.home_buttons:focus,
.home_buttons:hover {
  color: #3fa2f7;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
}

@media (min-width: 481px) and (max-width: 768px) {
  .loginHeader_container {
    width: 100%;
    min-width: 481px;
    max-width: 768px;
    height: auto;
  }
  .landingPage_link > img {
    height: 33px;
    width: fit-content;
    margin-right: 150px;
    padding: 0;
  }
  .loginNav {
    float: none;
    z-index: 50;
    transition: ease;
    margin-top: -450px;
    width: 80px;
    height: 40px;
  }
  .home_buttons {
    height: 23px;
    width: 50px;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    align-items: center;
    align-content: center;
    color: #fff;
    border: none;
    margin-top: 0px;
    margin-left: 10px;
  }
  .home_buttons:focus,
  .home_buttons:hover {
    color: #3fa2f7;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .loginHeader_container {
    width: 100%;
    min-width: 320px !important;
    max-width: 480px !important;
    height: auto;
  }
  .login_header {
    height: 70px;
    width: 100%;
    min-width: 320px !important;
    max-width: 480px !important;
  }
  .loginNav {
    background: #3fa2f7;
    width: 120px;
    padding: 20px;
    padding-top: 0;
    height: 23px;
    flex-direction: column;
    align-items: left;
    align-content: left;
    justify-content: flex-start;
    position: relative;
    right: 0;
    float: none;
    z-index: 50;
    transition: ease;
    margin-top: 100px !important;
  }
  .landingPage_link > img {
    height: 33px;
    width: fit-content;
    margin-right: 150px;
    padding: 0;
  }
  .home_buttons {
    height: 23px;
    width: 50px;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    align-items: center;
    align-content: center;
    color: #fff;
    border: none;
    margin-top: -300px;
    margin-left: 0px;
  }
  .home_buttons:focus,
  .home_buttons:hover {
    color: #3fa2f7;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
  }
}
