.myAccount_rows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}
.my_account_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.my_account_container > h1 {
  height: 60px;
  width: 100%;
  font-family: Arial;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  color: #297fca;
  justify-content: center;
  padding-top: 85px;
  margin-bottom: 150px;
}
.personalDetails_row {
  display: flex;
  flex-direction: row-reverse;
}
.personalDetails_container {
  background: #3fa2f7;
  height: 500px;
  width: 755px;
  padding-bottom: 100px;
  margin-bottom: 55px;
  margin-left: -50px;
}
.personalDetails_container > h2 {
  height: 40px;
  width: fit-content;
  font-family: Arial;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  padding: 30px;
  padding-left: 40px;
  margin-bottom: 35px;
}
.person_info_container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  align-content: center;
  margin-left: 50px;
}

.person_details_img {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.person_details_img > img {
  padding: 20px;
}
.person_details_fields {
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-content: left;
}
.person_details_info {
  font-family: Arial;
  width: 350px;
  max-width: 100%;
  overflow-wrap: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-left: 10px;
  margin-top: 40px;
  padding-bottom: 35px;
}

.updateDetails_link {
  width: 0;
  height: 23px;
}
.account_editButton {
  background: #297fca;
  height: 52px;
  width: 184px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  color: #fff;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  border: #fff;
  margin-left: 15px;
  position: absolute;
  margin-top: 150px;
  margin-left: 15px;
}
.account_editButton:focus,
.account_editButton:hover {
  outline: none;
  box-shadow: 0 2px 2px 0 rgb(230, 226, 241);
  color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
}

.shippingDetails_container {
  background: #3fa2f7;
  height: 400px;
  width: 755px;
  padding-bottom: 100px;
  margin-bottom: 55px;
}
.shippingDetails_container > h2 {
  height: 40px;
  width: fit-content;
  font-family: Arial;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  padding: 30px;
  padding-left: 40px;
  margin-bottom: 35px;
}
.shipping_editButton {
  background: #297fca;
  height: 52px;
  width: 184px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  color: #fff;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  border: #fff;
  margin-left: 15px;
  position: absolute;
  margin-top: 90px;
}
.shipping_editButton:focus,
.shipping_editButton:hover {
  outline: none;
  box-shadow: 0 2px 2px 0 rgb(230, 226, 241);
  color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
}
.shipping_details_fields {
  display: flex;
  flex-direction: column;
  align-content: left;
}
.shipping_details_info {
  font-family: Arial;
  font-size: 20px;
  width: 350px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-left: 10px;
  margin-top: 40px;
  padding-bottom: 35px;
}

.premium_collection_container > h1 {
  height: 40px;
  width: fit-content;
  font-family: Arial;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #297fca;
  padding-top: 50px;
  padding-left: 40px;
}
.noCollection_container {
  background: #e4f1fd;
  margin-top: 70px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
.noCollection_container1 {
  margin-top: 0px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
.noCollection_container > h2 {
  color: #297fca;
  opacity: 70%;
}
.noCollection_container1 > h4 {
  color: #297fca;
  margin-top: -20px;
  opacity: 70%;
}
.noCollection_container > h5 {
  color: #3fa2f7;
  opacity: 60%;
}

.myAccount_col2 {
  display: flex;
  flex-direction: column;
}
.cashOut_container {
  height: 225px;
  width: 100%;
  background: #3fa2f7;
  margin-left: 50px;
  padding: 20px;
  margin-bottom: 50px;
}
.cashOut_container > span,
.sweepstakesLog_container > span,
.rewardsLog_container > span {
  width: fit-content;
  font-family: Arial;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.cashAmount {
  padding-top: 20px;
  padding-bottom: 25px;
}
.ticketAmount {
  padding-top: 20px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.accountTicketImage {
  width: 100%;
  height: 100%;
}
.cashAmount > input,
.ticketAmount > input {
  text-align: center;
}

.ticketAmount > img {
  margin-top: -10px;
  margin-bottom: 20px;
}

.cashOut_link > .account_cashOutButton {
  background: #297fca;
  height: 52px;
  width: 184px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  color: #fff;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  border: #fff;
  margin-left: -10px;
  margin-top: -1px;
}
.cashOut_link > .account_cashOutButton:focus,
.cashOut_link > .account_cashOutButton:hover {
  outline: none;
  box-shadow: 0 2px 2px 0 rgb(230, 226, 241);
  color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
}
.cashOut_link > .account_cashOutButton2 {
  background: #297fca;
  height: 52px;
  width: 184px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  color: #fff;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  border: #fff;
  margin-top: 0px;
  margin-left: -5px;
}
.cashOut_link > .account_cashOutButton2:focus,
.cashOut_link > .account_cashOutButton2:hover {
  outline: none;
  box-shadow: 0 2px 2px 0 rgb(230, 226, 241);
  color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
}

.sweepstakesLog_container {
  height: 100%;
  width: auto;
  background: #3fa2f7;
  margin-left: 50px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.rewardsLog_container {
  height: 100%;
  width: auto;
  background: #3fa2f7;
  margin-left: 50px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.rewardsLog_data {
  background: #fff;
  height: 685px;
  width: 343px;
  left: 949px;
}
.rewards_columnInfo {
  height: 55px;
  width: 100%;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 25px;
  color: #297fca;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.sweepstakes_columnInfo {
  height: 55px;
  width: 100%;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 5px;
  color: #297fca;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.sweepstakes_columnHeader,
.rewards_columnHeader {
  justify-content: center;
}
.sweepstakesLog_header {
  margin-top: 50px;
  background: #fff;
  width: 100%;
}
.rewardsLog_header {
  margin-top: 50px;
  background: #fff;
}
.sweepstakes_header {
  font-family: Arial;
  font-size: 20px;
  padding: 15px;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  background: #6b6b6b;
}
.rewards_header {
  font-family: Arial;
  font-size: 20px;
  color: #fff;
  padding: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  background: #6b6b6b;
}
.myAccount_bottom_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 30px;
}
.myAccount_bottom_container > h3 {
  height: 40px;
  width: 294px;
  font-family: Arial;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  color: #297fca;
}
.myAccount_bottom_container > p {
  height: 69px;
  width: 392px;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: #297fca;
}
.account_playPachiButton {
  background: #297fca;
  height: 52px;
  width: 165px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  color: #fff;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  border: #fff;
  margin-bottom: 60px;
  margin-left: -20px;
}
.account_playPachiButton:focus,
.account_playPachiButton:hover {
  outline: none;
  box-shadow: 0 2px 2px 0 rgb(230, 226, 241);
  color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
}

@media (min-width: 320px) and (max-width: 480px) {
  .my_account_container {
    display: flex;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 0;
    margin-right: 0;
  }

  .my_account_container > h1 {
    height: 23px;
    width: 282px;
    font-family: Arial;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    text-align: center;
    color: #297fca;
    margin-top: -50px !important;
    margin-bottom: 50px !important;
  }
  .personalDetails_row {
    display: flex;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .cashTickets_container {
    display: flex;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
  }
  .cashOut_container {
    height: 227px;
    width: 100%;
    min-width: 280px;
    max-width: 460px;
    background: #3fa2f7;
    margin-bottom: 20px;
    margin-left: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .cashOut_container > span,
  .sweepstakesLog_container > span,
  .rewardsLog_container > span {
    width: fit-content;
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }

  .cashOut_container input {
    width: 90%;
  }
  .cashAmount,
  .ticketAmount {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .cashOut_link > .account_cashOutButton {
    background: #297fca;
    height: 34px;
    width: 120px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #fff;
    font-family: Arial;
    font-size: 12pxx;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    border: #fff;
    margin-left: -10px;
    margin-top: -1px;
  }

  .personalDetails_container {
    background: #3fa2f7;
    height: fit-content;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    padding-bottom: 100px;
    margin-bottom: 55px;
  }

  .personalDetails_container > h2 {
    height: 40px;
    width: fit-content;
    font-family: Arial;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    padding: 30px;
    padding-left: 40px;
    margin-bottom: 35px;
  }
  .person_info_container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    align-content: center;
    margin-left: 50px;
  }

  .person_details_img {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .person_details_img > img {
    padding: 20px;
  }
  .person_details_fields {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-content: left;
  }
  .person_details_info {
    font-family: Arial;
    width: 350px;
    max-width: 100%;
    overflow-wrap: inherit;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    margin-left: 10px;
    margin-top: 40px;
    padding-bottom: 35px;
  }

  .account_editButton {
    background: #297fca;
    height: 34px;
    width: 98px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    position: relative;
    border: #fff;
    margin-top: 150px;
    margin-left: -550px;
  }
  .myAccount_rows {
    display: flex;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0 !important;
    margin: 0 !important;
  }
}
