.resetPassword_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.resetPassword_header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #3fa2f7;
}
.resetPassword_header > h1 {
  color: #fff;
  margin-left: 20px;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 1);
}
.resetPassword_header > img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.6);
}
.resetPassword_contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: auto;
  width: fit-content;
  margin-top: 20px;
  margin-bottom: 188px;
}
.resetPassword_contents > h1 {
  height: 40px;
  width: 400px;
  font-family: Arial;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  color: #297fca;
  margin-top: 50px;
  margin-bottom: 50px;
}
.resetPassword_contents > p {
  height: 36px;
  width: 639px;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #297fca;
  margin-top: -25px;
}
.resetPassword_input {
  height: 48px;
  width: 300px;
  border: 3px solid #297fca;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #297fca;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}
.resetPassword_input1 {
  height: 48px;
  width: 300px;
  border: 3px solid #297fca;
  margin-top: 25px;
  margin-bottom: 50px;
  color: #297fca;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}
.resetPassword_contents > input::placeholder {
  color: #297fca;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.showNewPassword {
  position: absolute;
  margin-top: 178px;
  margin-left: 125px;
  color: #297fca;
}
.showConfirmNewPassword {
  position: absolute;
  margin-top: 252px;
  margin-left: 125px;
  color: #297fca;
}
.resetPassword_button {
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  height: 54px;
  width: 197px;
  border: 2px solid #3fa2f7;
  border-radius: 11px;
  background: #297fca;
}

.resetPassword_button[disabled]:hover,
.resetPassword_button[disabled]:focus,
.resetPassword_button[disabled]:active {
  opacity: 60%;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  height: 54px;
  width: 197px;
  border: 2px solid #3fa2f7;
  border-radius: 11px;
  background: #297fca;
}

.resetPassword_button:hover,
.resetPassword_button:active {
  color: #3fa2f7;
  outline: none;
  border: 1px solid #fff;
}

@media (min-width: 320px) and (max-width: 480px) {
  .resetPassword_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    height: auto;
  }
  .resetPassword_header {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    height: 150px;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #3fa2f7;
    margin-top: -20px;
  }
  .resetPassword_header > h1 {
    color: #fff;
    margin-left: 0;
    margin-top: 10px;
    font-size: 20px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 1);
  }
  .resetPassword_header > img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.6);
  }

  .resetPassword_contents > h1 {
    height: 40px;
    width: 300px;
    font-family: Arial;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #297fca;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .resetPassword_contents > p {
    height: 36px;
    width: 300px;
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: #297fca;
    margin-top: -25px;
    margin-bottom: 40px;
  }
  .resetPassword_input {
    height: 38px;
    width: 300px;
    border: 3px solid #297fca;
    color: #297fca;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
  }
  .resetPassword_input1 {
    height: 38px;
    width: 300px;
    border: 3px solid #297fca;
    margin-bottom: 50px;
    color: #297fca;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
  }

  .resetPassword_input::placeholder {
    color: #297fca;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    padding-left: 80px;
    text-align: center;
  }
  .resetPassword_input1::placeholder {
    color: #297fca;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    padding-left: 45px;
    text-align: center;
  }
  .showNewPassword {
    position: absolute;
    margin-top: 198px;
    margin-left: 125px;
    color: #297fca;
  }
  .showConfirmNewPassword {
    position: absolute;
    margin-top: 260px;
    margin-left: 125px;
    color: #297fca;
  }
  .resetPassword_button {
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    height: 44px;
    width: 190px;
    border: 2px solid #3fa2f7;
    border-radius: 11px;
    background: #297fca;
    margin-left: -7px;
  }
}
