body {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 150px;
  height: max-content;
}

.paginate-ctn {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
  margin-top: 50px;
}
.round-effect {
  color: #297fca;
  cursor: pointer;
  border: 1px solid #297fca;
  padding: 12px;
  border-radius: 10px;
  height: 50px;
  min-width: 50px;
  width: fit-content;
  height: 48px;
  margin: 5px;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.round-effect:hover {
  text-decoration: none;
  background: #297fca;
  color: #fff;
}
.round-effect:hover a {
  text-decoration: none;
  color: #fff;
}

.active {
  background: #297fca;
  color: #fff;
}

.lArrow {
  transform: rotate(-135deg);
  margin-bottom: 2px;
}
.rArrow {
  transform: rotate(45deg);
  margin-bottom: 2px;
}

@media (min-width: 367px) and (max-width: 480px) {
  .flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 100px !important;
    height: max-content;
  }

  .paginate-ctn {
    display: flex;
    justify-content: center;
    min-width: 320px;
    margin-bottom: 50px !important;
    margin-top: 10px !important;
  }
  .round-effect {
    color: #297fca;
    cursor: pointer;
    border: 1px solid #297fca;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 7px !important;
    border-radius: 10px;
    height: 40px !important;
    min-width: 40px !important;
    width: fit-content;
    margin: 5px;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}
@media (min-width: 320px) and (max-width: 366px) {
  .flex-container {
    display: flex;
    width: 100%;
    min-width: 320px;
    max-width: 366px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 100px !important;
    height: max-content;
  }

  .paginate-ctn {
    display: flex;
    justify-content: center;
    min-width: 320px;
    margin-bottom: 50px !important;
    margin-top: 10px !important;
  }
  .round-effect {
    color: #297fca;
    cursor: pointer;
    border: 1px solid #297fca;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 7px !important;
    border-radius: 10px;
    height: 40px !important;
    min-width: 40px !important;
    width: fit-content;
    margin: 5px;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  .rArrow, .lArrow {
    display: none !important;
  }
}
