.sweepstakesPage {
  width: 100%;
  height: auto;
}
.sweepstakesBackground {
  width: 100%;
  height: auto;
}
.sweepstakesMobileBackground {
  display: none;
}
.sweepstakesHeader_bg {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 43px;
  margin-top: -470px;
  margin-bottom: 195px;
}
.sweepstakesBackground_content > h3 {
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  height: 80px;
  width: 350px;
  color: #297fca;
  padding-top: 150px;
  top: 350px;
  padding-left: 50px;
  left: 120px;
  position: absolute;
}
.sweepstakesHeader_bg > h1 {
  height: 171px;
  width: 458px;
  font-family: Arial;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0em;
  text-align: right;
  color: #3687cd;
}
.sweepstakesHeader_bg > h2 {
  height: 38px;
  width: 482px;
  font-family: Arial;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: right;
  color: #3687cd;
}

.sweepstakesBackground > img {
  width: 100%;
  height: auto;
}
.sweepstakes_container {
  display: flex;
  flex-direction: column;
  height: 649px;
  width: 100%;
  border-radius: 0px;
  background-color: #3fa2f7;
}
.sweepstakesPage_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -50px;
}
.sweepstakesPage_header > h1 {
  height: 60px;
  width: 987px;
  font-family: Arial;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  margin-top: 100px;
  margin-bottom: 53px;
}
.sweepstakes_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
.sweepstakes_col1 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.sweepstakes_col2 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.sweepstakes_col3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.sweepstakes_arrow {
  width: fit-content;
  max-width: fit-content;
  margin-top: 130px;
}
.sweepstakes_arrow2 {
  width: fit-content;
  max-width: fit-content;
  margin-top: 130px;
}

.sweepstakesPrize_row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.sweepstakesPrize_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: fit-content;
  margin-bottom: 50px;
}
.sweepstakesPrize_container > h1 {
  height: 120px;
  width: 1112px;
  font-family: Arial;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  color: #297fca;
  margin-top: 60px;
  margin-bottom: -20px;
}
.step1_img {
  position: absolute;
  margin-left: -240px;
  margin-top: 85px;
}
.draws_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.draw_img {
  padding: 40px;
}
.draw_fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.drawButton {
  position: absolute;
  background: #297fca;
  height: 54px;
  width: 174px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  color: #fff;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  border: #fff;
  margin-left: -90px;
  margin-top: 47px;
}
.drawButton:focus,
.drawButton:hover {
  outline: none;
  box-shadow: 0 2px 2px 0 whitesmoke;
  color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
}
.draw_fields > input {
  height: 50px;
  width: 170px;
  left: 10px;
  padding: 15px, 50px, 15px, 50px;
  border: 1px solid #297fca;
  text-align: left;
  caret-color: #5e555555;
  text-indent: 10px;
  border-radius: 5px;
  margin-top: -372px;
}
.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  height: 40px;
  letter-spacing: 0em;
  text-align: center;
}
.timer > h4 {
  margin-top: 10px;
  color: #297fca;
}
.timer > h6 {
  color: #297fca;
  margin-top: -10px;
}
.weeklyTimer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 220px;
  height: 55px;
  border: 2px solid #297fca;
  border-radius: 5px;
  padding: 5px;
  margin-top: -372px;
  background: #fff;
}
.draw_fields > input::placeholder {
  height: 19px;
  width: fit-content;
  text-align: center;
  color: #297fca;
}

.draw_fields > input:active,
.draw_fiels > input:focus {
  border: 2px solid #3fa2f7;
  outline: none;
  border-radius: 5px;
}
.drawResult_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: #3fa2f7;
  height: 368px;
  width: 100%;
}
.drawResult_container > h1 {
  height: 60px;
  width: 100%;
  font-family: Arial;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  margin-top: 60px;
  margin-bottom: 0px;
}
.drawResult_container > span {
  height: 46px;
  width: 520px;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.drawResultButton_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 70px;
  margin-left: 140px;
}
.resultButton {
  margin-right: 100px;
}
.sweepstakesResult_link > .drawResultButton {
  background: #297fca;
  height: 54px;
  width: 162px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  color: #fff;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  border: #fff;
  margin-top: 60px;
}
.sweepstakesResult_link > .drawResultButton:focus,
.sweepstakesResult_link > .drawResultButton:hover {
  outline: none;
  box-shadow: 0 2px 2px 0 whitesmoke;
  color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
}

@media (min-width: 481px) and (max-width: 1200px) {
  .sweepstakesPage {
    width: 100%;
    min-width: 481px;
    max-width: 1200px;
    height: auto;
  }
  
  .sweepstakesMobileBackground {
    display: none;
    width: 100%;
    min-width: 481px;
    max-width: 1200px;
    height: auto;
    object-fit:contain;
  }

  .sweepstakesHeader_bg {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 43px;
    margin-top: -470px;
    margin-bottom: 195px;
  }

  .sweepstakesPage_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 481px;
    max-width: 1200px;
    margin-top: -50px;
  }

  .sweepstakesPage_header > h1 {
    height: 23px;
    width: 100%;
    min-width: 300px;
    color: #fff;
    font-family: Arial;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 53px;
  }
  .sweepstakes_content {
    display: flex;
    width: 100%;
    min-width: 481px;
    max-width: 1200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    background: #3fa2f7;
  }

  .sweepstakes_arrow {
    margin-top: 50px;
    margin-bottom: 50px;
    transform: rotate(90deg);
  }
  .sweepstakes_arrow2 {
    margin-top: 20px;
    margin-bottom: 50px;
    transform: rotate(90deg);
  }

  .sweepstakes_col3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 50px;
  }

  .sweepstakesPrize_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: fit-content;
    margin-bottom: 50px;
    margin-top: 1000px;
  }

  .sweepstakesPrize_container > h1 {
    height: 23px;
    width: 100%;
    min-width: 300px;
    color: #297fca;
    font-family: Arial;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .draws_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .draw_img {
    margin-top: -50px;
  }
  .drawResult_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: #3fa2f7;
    height: fit-content;
    width: 100%;
    min-width: 481px;
    max-width: 1200px;
  }
  .drawResult_container > h1 {
    height: 60px;
    width: 100%;
    min-width: 481px;
    font-family: Arial;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0;
    text-align: center;
    color: #ffffff;
    margin-top: 60px;
    margin-bottom: 0;
  }
  .drawResult_container > span {
    height: 46px;
    width: 100%;
    min-width: 481px;
    max-width: 1200px;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  .drawResultButton_container {
    display: flex;
    width: 100%;
    min-width: 481px;
    max-width: 1200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 70px;
    margin-right: auto;
    margin-left: auto;
  }
  .resultButton {
    margin-right: auto;
    margin-left: auto;
    margin-top: -20px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .sweepstakesPage {
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    height: auto;
  }
  .sweepstakesBackground {
    display: none !important;
  }
  .sweepstakesMobileBackground {
    display: block;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    height: auto;
  }

  .sweepstakesHeader_bg {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 43px;
    margin-top: -470px;
    margin-bottom: 195px;
  }

  .sweepstakesPage_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    margin-top: -50px;
  }

  .sweepstakesPage_header > h1 {
    height: 23px;
    width: 100%;
    min-width: 300px;
    color: #fff;
    font-family: Arial;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 53px;
  }
  .sweepstakes_content {
    display: flex;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    background: #3fa2f7;
  }

  .sweepstakes_arrow {
    margin-top: 50px;
    margin-bottom: 50px;
    transform: rotate(90deg);
  }
  .sweepstakes_arrow2 {
    margin-top: 20px;
    margin-bottom: 50px;
    transform: rotate(90deg);
  }

  .sweepstakes_col3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 50px;
  }

  .sweepstakesPrize_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: fit-content;
    margin-bottom: 50px;
    margin-top: 1000px;
  }

  .sweepstakesPrize_container > h1 {
    height: 23px;
    width: 100%;
    min-width: 300px;
    color: #297fca;
    font-family: Arial;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .draws_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .draw_img {
    margin-top: -50px;
  }
  .drawResult_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: #3fa2f7;
    height: fit-content;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
  }
  .drawResult_container > h1 {
    height: 60px;
    width: 100%;
    min-width: 320px;
    font-family: Arial;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0;
    text-align: center;
    color: #ffffff;
    margin-top: 60px;
    margin-bottom: 0;
  }
  .drawResult_container > span {
    height: 46px;
    width: 100%;
    min-width: 250px;
    max-width: 400px;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  .drawResultButton_container {
    display: flex;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 70px;
    margin-right: auto;
    margin-left: auto;
  }
  .resultButton {
    margin-right: auto;
    margin-left: auto;
    margin-top: -20px;
  }
}
